# Archivos compilados y caché de Python
__pycache__/
*.py[codz]
*$py.class

# Entornos Virtuales e ignoro de variables de entorno (CRÍTICO)
.env
.venv
env/
venv/
ENV/

# Base de datos local SQLite (Ajustado para FastAPI)
*.db
*.sqlite
*.sqlite3
database.db

# Archivos ocultos del Sistema Operativo (Mac / Windows)
.DS_Store
Thumbs.db

# Configuraciones del editor (VS Code)
.vscode/
tempCodeRunnerFile.py
